<%#= @day.day %>
<%#= @day.month %>
<%#= @day.year %>
<div class="rest-show-img show-box">
  <p><%= image_tag(@restaurant.image, class: "rest-image") %></p>
</div>
<div class="rest-show-info show-box">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.neighbourhood %></p>
  <p><%= @restaurant.price_range %></p>
  <p><%= @restaurant.menu %></p>
  <p><%= @restaurant.description %></p>
</div>
<div>
  Date Selected <%= @day.day %>, <%= @day.month %>, <%= @day.year %>
</div>
<div>
  <%= form_tag reservations_path, method: :post do %>
    <%= hidden_field_tag 'restaurant_id', @restaurant.id %>
    <%= hidden_field_tag 'day_id', @day.id %>
    <%= hidden_field_tag 'hour_id', '' %>
    <p>Party Size <%= select_tag 'party_size', options_for_select((1..20), 2 ) %></p>
    <% @day.hours.each do |hour| %>
      <p><button class="<%= hour.id.in_words.strip.gsub(' ', '-') %>"><%= hour.time_slot %>:00</button><%= hour.time_slot.in_words %> | <%= hour.open_seats - (hour.reservations.pluck(:party_size).sum) %></p>
    <% end %>
  <% end %>  
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('button').each(function() {
    $(this).click(function() {
      $('#hour_id').val($(this).attr('class'));
      console.log($('#hour_id').attr("value"));
      $("form").submit();
    });
  });
});



</script>

