<%#= @day.day %>
<%#= @day.month %>
<%#= @day.year %>
<div class="rest-show-img show-box">
  <p><%= image_tag(@restaurant.image, class: "rest-image") %></p>
</div>
<div class="rest-show-info show-box">
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.neighbourhood %></p>
  <p><%= @restaurant.price_range %></p>
  <p><%= @restaurant.menu %></p>
  <p><%= @restaurant.description %></p>
</div>